body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle, #000016, #000030, #000060);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Ajout de styles pour rendre le texte adaptatif */
.text {
    font-size: calc(1vw + 1vh + 0.5vmin);
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap; /* Assure le retour à la ligne pour les textes longs */
}

/* Styles pour s'assurer que la scène est bien contenue */
canvas {
    display: block;
    width: 100%;
    height: 100%;
}